# Problem

Build a small python package to perform an ML prediction on the titanic dataset

# Solution

This is a binary classification task (survived / died).
There are  observations, 9  categorical variables (age, and family members on the boat have a low cardinality so they can be considered categorical)

The goal here is not to show good ML skills since the problem can be solved efficiently with barely a couple lines of code using for exemple sklearn's library, but rather to show good coding skills

Here are the steps to be undertaken:
- Build a basic preprocessor class for this dataset, extending sklearn's preprocessor (deal with nan, reformat dtypes, use OH encoding if it makes sense as an option)
- Build a feature_importance module (using correlation that removes low importance features and ctoo highly correlated features) [using this](https://www.kaggle.com/code/chrisbss1/cramer-s-v-correlation-matrix/notebook)
- Build a basic model class for prediction, extending sklearn basemodel, using basic sklearn model in effect
- Build a proper scoring class
- Build a train/validation/test pipeline from the original dataset, using the 2 previous classes.
- Build a test folder with unit-tests for everything
- Build a CLI tool to execute it all
- Set up formatters (black, isort, flake8
)
- Report on MLOps automation

In [2]:
from sklearn.datasets import fetch_openml
X,y = fetch_openml(name="titanic", version=1, as_frame=True, return_X_y=True)

c:\Users\benja\anaconda3\envs\basic_code\lib\site-packages\sklearn\datasets\_openml.py:1002: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3.0,"Zabour, Miss. Hileni",female,14.5000,1.0,0.0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [3]:
y

0       1
1       1
2       0
3       0
4       0
       ..
1304    0
1305    0
1306    0
1307    0
1308    0
Name: survived, Length: 1309, dtype: category
Categories (2, object): ['0', '1']

In [ ]:
# integrate logging?
# integrate hyperparameter tuning
# integrate tests
# make model save_path and date elements from an env file
# add seed in the repository
# make CLI tool

# make notebook + putting into production comments (talk about cloud, scheduling, multiple versions, history tracking ,etc)
# make a proper readme